:root {
    --color-dark: #15181f;
    --color-dark-x: #2d343f;
    --color-dark-xx: #1f232b;
    --color-grey: #f5f6f8;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: var(--color-grey);
    color: var(--color-light);
    letter-spacing: .05rem;
}

.bg-light {
    background-color: var(--color-light) !important;
}

.bg-dark {
    background-color: var(--color-dark) !important;
}


.p-6 {
    padding: 4rem 7rem;
}

.contact-box {
    padding: 3rem;
}

.btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
}

.btn-outline-dark {
    border: 2px solid var(--color-dark-xx);
}


.form-control {
    background-color: var(--color-dark-xx);
    border: 2px solid var(--color-dark-xx);
    border-radius: .2rem;
    padding: 1.5rem 1rem;
}

.register-bg {
    background-image: url('https://images.pexels.com/photos/1420405/pexels-photo-1420405.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.register-bg1 {
    background-image: url('https://image.freepik.com/foto-gratis/bichon-maltes-perro-pelo-blanco-mirando-adelante-pared-negra_86638-485.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.register-bg2 {
    background-image: url('https://images.pexels.com/photos/320014/pexels-photo-320014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.testiomonial {
    bottom: 10px
}

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }

    .contact-box {
        padding: 0;
    }

    .width-100 {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .register-bg {
        min-height: 50vh;
    }
}

/*Vamos a intentar con el slide 3d*/
h2 {
    text-align: center;
    font-size: 40px;
    font-family: arial;
    margin-top: 80px;
    color: aqua;
    text-shadow: 0px 0px 6px black;
}

.content-all {
    width: 210px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel {
    width: 100%;
    position: absolute;
    animation: rotar 30s infinite linear;
    transform-style: preserve-3d;
}

    .content-carrousel:hover {
        animation-play-state: paused;
        cursor: pointer;
    }


    .content-carrousel figure {
        width: 100%;
        height: 120px;
        overflow: hidden;
        position: absolute;
        box-shadow: 0px 0px 20px 0px black;
        transition: all 500ms;
    }

        .content-carrousel figure:hover {
            box-shadow: 0px 0px 0px 0px black;
            transition: all 500ms;
        }

        .content-carrousel figure:nth-child(1) {
            transform: rotateY(0deg) translateZ(300px);
        }

        .content-carrousel figure:nth-child(2) {
            transform: rotateY(40deg) translateZ(300px);
        }

        .content-carrousel figure:nth-child(3) {
            transform: rotateY(80deg) translateZ(300px);
        }

        .content-carrousel figure:nth-child(4) {
            transform: rotateY(120deg) translateZ(300px);
        }

        .content-carrousel figure:nth-child(5) {
            transform: rotateY(160deg) translateZ(300px);
        }

        .content-carrousel figure:nth-child(6) {
            transform: rotateY(200deg) translateZ(300px);
        }

        .content-carrousel figure:nth-child(7) {
            transform: rotateY(240deg) translateZ(300px);
        }

        .content-carrousel figure:nth-child(8) {
            transform: rotateY(280deg) translateZ(300px);
        }

        .content-carrousel figure:nth-child(9) {
            transform: rotateY(320deg) translateZ(300px);
        }

        .content-carrousel figure:nth-child(10) {
            transform: rotateY(360deg) translateZ(300px);
        }

    .content-carrousel img {
        width: 100%;
        transition: all 500ms;
    }

        .content-carrousel img:hover {
            transform: scale(1.2);
            transition: all 500ms;
        }


@keyframes rotar {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}
