@page
@model WebApp.Areas.MascotasUsuario.Pages.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ ViewData["Title"] = "Editar Usuario";
    Layout = "_Layout"; }
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-page="Index">Inicio</a></li>
                    <li class="breadcrumb-item">Catalogos</li>
                    <li class="breadcrumb-item">Productos</li>
                    <li class="breadcrumb-item">Editar Usuario</li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col align-self-lg-end">
                <a asp-area="MascotasUsuario" asp-page="Index" class="btn btn-outline-info float-right"><i class="fas fa-arrow-left"></i> Volver al Listado</a>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="card-title">Edite su formulario correctamente</div>
            <div class="card-tools">
            </div>
        </div>
        <div class="card-body">
            <!-- form start -->
            <form method="post" asp-action="Edit" asp-route-id="@Model.Usuario.Id" autocomplete="off">
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Usuario.Nombre"></label>
                        <input asp-for="Usuario.Nombre" class="form-control" />
                        <span asp-validation-for="Usuario.Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Usuario.Apellido"></label>
                        <input asp-for="Usuario.Apellido" class="form-control" />
                        <span asp-validation-for="Usuario.Apellido" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Usuario.Direccion"></label>
                        <input asp-for="Usuario.Direccion" class="form-control" />
                        <span asp-validation-for="Usuario.Direccion" class="text-danger"></span>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button> &nbsp;
                    <button type="reset" class="btn btn-warning"><i class="fas fa-eraser"></i> Limpiar</button>
                </div>
            </form>
        </div>
    </div>
</section>