@page
@model WebApp.Areas.Citas.Pages.DeleteModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Eliminar Cita";
    Layout = "_Layout";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-page="Index">Inicio</a></li>
                    <li class="breadcrumb-item">Catalogos</li>
                    <li class="breadcrumb-item">Citas de Salud</li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col align-self-lg-end">
                <a asp-area="Citas" asp-page="Index" class="btn btn-outline-info float-right"><i class="fas fa-arrow-left"></i> Volver al Listado</a>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="card-title">Eliminar Registro</div>
            <div class="card-tools">

            </div>
        </div>
        <div class="card-body">
            <!-- form start -->
            <form method="post" asp-action="Eliminar" asp-route-id="@Model.Cita.Id" autocomplete="off">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Cita.CodigoCita"></label>
                        <input asp-for="Cita.CodigoCita" class="form-control" readonly="readonly" />
                        <span asp-validation-for="Cita.CodigoCita" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cita.DescripcionCita"></label>
                        <input asp-for="Cita.DescripcionCita" class="form-control" readonly="readonly" />
                        <span asp-validation-for="Cita.DescripcionCita" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cita.FechaHora"></label>
                        <input asp-for="Cita.FechaHora" class="form-control" readonly="readonly" />
                        <span asp-validation-for="Cita.FechaHora" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cita.Precio"></label>
                        <input asp-for="Cita.Precio" class="form-control" readonly="readonly" />
                        <span asp-validation-for="Cita.Precio" class="text-danger"></span>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Eliminar</button> &nbsp;
                </div>
            </form>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" language="javscript">
        $.validator.unobtrusive.parse(document);
        $(document).ready(function () {
            $('#a-Cita').addClass('active');
        });
    </script>
}


