@page
@model WebApp.Areas.Citas.Pages.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Editar Cita";
    Layout = "_Layout";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4>Insertar Productos</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-page="Index">Inicio</a></li>
                    <li class="breadcrumb-item">Catalogos</li>
                    <li class="breadcrumb-item">Productos</li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col align-self-lg-end">
                <a asp-area="Citas" asp-page="Index" class="btn btn-outline-info float-right"><i class="fas fa-arrow-left"></i> Volver al Listado</a>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="contact-box">
    <div class="row no-gutters bg-dark">
        <div class="col-xl-5 col-lg-12 register-bg10">
            <div class="position-absolute testiomonial p-4">
                <h3 class="font-weight-bold text-light">Los Mejores Productos los encuentras en VeterinariaZootopia.</h3>
                <p class="lead text-light">Siempre lo mejor para los Mejores.</p>
            </div>
        </div>
        <div class="col-xl-7 col-lg-12 d-flex">
            <div class="container align-self-center p-6">
                <h1 class="font-weight-bold mb-3">Cita</h1>

                <p class="text-muted mb-5">Ingresa la siguiente información para Editar una Cita.</p>

                <form method="post" asp-action="Editar" asp-route-id="@Model.Cita.Id" autocomplete="off">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-row mb-2">
                        <div class="form-group col-md-6">
                            <label asp-for="Cita.CodigoCita"></label>
                            <input asp-for="Cita.CodigoCita" class="form-control" placeholder="####" />
                            <span asp-validation-for="Cita.CodigoCita" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Cita.DescripcionCita"></label>
                            <input asp-for="Cita.DescripcionCita" class="form-control" placeholder="Nombre" />
                            <span asp-validation-for="Cita.DescripcionCita" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Cita.FechaHora"></label>
                        <input asp-for="Cita.FechaHora" class="form-control" placeholder="Descripcion" />
                        <span asp-validation-for="Cita.FechaHora" class="text-danger"></span>
                    </div>
                    <div class="form-row mb-2">
                        <div class="form-group col-md-6">
                            <label asp-for="Cita.Precio"></label>
                            <input asp-for="Cita.Precio" class="form-control" placeholder="$" />
                            <span asp-validation-for="Cita.Precio" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-dark d-inline-block text-light mr-2 mb-3 width-100"><i class="icon ion-logo-google lead align-middle mr-2"></i> Guardar </button>
                        <a asp-area="Citas" asp-page="Index" class="btn btn-outline-info float-right"><i class="fas fa-arrow-left"></i> Cancelar</a>
                    </div>

                </form>
                <small class="d-inline-block text-muted mt-5">veterinaria Zootopia | © 2021</small>
            </div>
        </div>
    </div>
</section>
@section Scripts{

    <link rel="stylesheet" type="text/css" href="~/estiloAgregar/css/style.css">
    <script type="text/javascript" src="~/estiloAgregar/js/main.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" language="javscript">
        $.validator.unobtrusive.parse(document);
        $(document).ready(function () {
            $('#a-Cita').addClass('active');
        });
    </script>
}