@page
@model WebApp.Areas.Planes.Pages.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Editar Plan";
    Layout = "_Layout";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-page="Index">Inicio</a></li>
                    <li class="breadcrumb-item">Catalogos</li>
                    <li class="breadcrumb-item">Planes de Salud</li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col align-self-lg-end">
                <a asp-area="Planes" asp-page="Index" class="btn btn-outline-info float-right"><i class="fas fa-arrow-left"></i> Volver al Listado</a>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- Main content -->



<section class="contact-box">
    <div class="row no-gutters bg-dark">
        <div class="col-xl-5 col-lg-12 register-bg4">
            <div class="position-absolute testiomonial p-4">
                <h3 class="font-weight-bold text-light">Los Mejores Planes los encuentras en VeterinariaZootopia.</h3>
                <p class="lead text-light">Siempre lo mejor para los Mejores.</p>
            </div>
        </div>
        <div class="col-xl-7 col-lg-12 d-flex">
            <div class="container align-self-center p-6">
                <h1 class="font-weight-bold mb-3">Planes de Salud</h1>

                <p class="text-muted mb-5">Ingresa la siguiente información para registrar un Plan.</p>

                <form method="post" asp-action="Editar" asp-route-id="@Model.Plan.Id" autocomplete="off">
                    <div class="form-row mb-2">
                        <div class="form-group col-md-6">
                            <label asp-for="Plan.Codigo"></label>
                            <input asp-for="Plan.Codigo" class="form-control" />
                            <span asp-validation-for="Plan.Codigo" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Plan.Nombre"></label>
                            <input asp-for="Plan.Nombre" class="form-control" />
                            <span asp-validation-for="Plan.Nombre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Plan.Descripcion"></label>
                        <input asp-for="Plan.Descripcion" class="form-control" />
                        <span asp-validation-for="Plan.Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-row mb-2">
                        <div class="form-group col-md-6">
                            <label asp-for="Plan.Precio"></label>
                            <input asp-for="Plan.Precio" class="form-control" placeholder="$" />
                            <span asp-validation-for="Plan.Precio" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-dark d-inline-block text-light mr-2 mb-3 width-100"><i class="icon ion-logo-google lead align-middle mr-2"></i> Guardar </button>
                        <button type="reset" class="btn btn-outline-dark d-inline-block text-light mb-3 width-100"><i class="icon ion-logo-facebook lead align-middle mr-2"></i> Limpiar</button>
                    </div>

                </form>
                <small class="d-inline-block text-muted mt-5">veterinaria Zootopia | © 2021</small>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <link rel="stylesheet" type="text/css" href="~/estiloAgregar/css/style.css">
    <script type="text/javascript" src="~/estiloAgregar/js/main.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" language="javscript">
        $.validator.unobtrusive.parse(document);
        $(document).ready(function () {
            $('#a-plan').addClass('active');
        });
    </script>
}