@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>ZOOTOPIA</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">ZOOTOPIA</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="contenedor">
        <a href="#">
            <figure>
                <img src="https://i.ibb.co/1f9wXVX/logo-Veterinaria.png" alt="logo-Veterinaria" border="0">
                <div class="capa">
                    <h3>Zootopia Veterinaria</h3>
                    <p>
                        Cuidando a su animal!!!
                        Esté continuamente desde el principio en la posición de pensar en sus criaturas, ya que cuidar a sus criaturas traerá alegría y sustento a su vida.
                    </p>
                </div>
            </figure>
        </a>
    </div>

</section>
<!-- /.content -->
@section Scripts
{
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <style>
        .contenedor {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }

            .contenedor figure {
                position: relative;
                height: 400px;
                cursor: pointer;
                width: 500px;
                overflow: hidden;
                border-radius: 6px;
                box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
            }

                .contenedor figure img {
                    width: 100%;
                    height: 100%;
                    transition: all 400ms ease-out;
                    will-change: transform;
                }

                .contenedor figure .capa {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,103,123,0.6);
                    transition: all 400ms ease-out;
                    opacity: 0;
                    visibility: hidden;
                    text-align: center;
                }

                .contenedor figure:hover > .capa {
                    opacity: 1;
                    visibility: visible;
                }

                    .contenedor figure:hover > .capa h3 {
                        margin-top: 50px;
                        margin-bottom: 15px;
                    }

                .contenedor figure:hover > img {
                    transform: scale(1.3);
                }

                .contenedor figure .capa h3 {
                    color: #fff;
                    font-weight: 400;
                    margin-bottom: 120px;
                    transition: all 400ms ease-out;
                    margin-top: 30px;
                }

                .contenedor figure .capa p {
                    color: #fff;
                    font-size: 15px;
                    line-height: 1.5;
                    width: 100%;
                    max-width: 220px;
                    margin: auto;
                }

    </style>

}