@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">ZOOTOPIA</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div>
        <center><img src="https://i.ibb.co/1f9wXVX/logo-Veterinaria.png" height="230" width="350"></center>
    </div>
    <div class="content-all">
        <div class="content-carrousel">
            <figure><img src="~/estiloAgregar/img/img1.jpg"></figure>
            <figure><img src="~/estiloAgregar/img/img2.jpg"></figure>
            <figure><img src="~/estiloAgregar/img/img3.jpg"></figure>
            <figure><img src="~/estiloAgregar/img/img4.jpg"></figure>
            <figure><img src="~/estiloAgregar/img/img5.jpg"></figure>
            <figure><img src="~/estiloAgregar/img/img6.jpg"></figure>
            <figure><img src="~/estiloAgregar/img/img7.jpg"></figure>
            <figure><img src="~/estiloAgregar/img/img8.jpg"></figure>
            <figure><img src="~/estiloAgregar/img/img9.jpg"></figure>
            <figure><img src="~/estiloAgregar/img/img10.jpg"></figure>
        </div>
    </div>

</section>
<!-- /.content -->
@section Scripts
{
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <link rel="stylesheet" type="text/css" href="~/estiloAgregar/css/style.css">
}